* { /*chrome*/
  margin: 0px;
  padding: 0px;
}

/*----------------header----------------*/

.header{
  background-color: rgba(72,125,177,0.7);
  height: 80px;
  color: white;
  line-height: 80px;

  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-wrapper{
  width: 85%;
  margin: 0 auto;
}

.header-logo{
  font-weight: bold;
  font-size: 25px;
}

.header h3{
  float: right;
  font-weight: normal;
}


/*----------------main----------------*/


.main-wrapper{
  width: 85%;
  margin: 0 auto;
}

.main{
  /*background-color: #f2f7fd;*/
  background-image : url(form-bg.png);
  background-attachment: fixed;
  background-size: cover;
  padding-top: 60px;
  height: 800px;
}

.main h1{
  text-align: center;
  color: white;
  border-bottom: 1.5px solid white;
}

.board-wrapper{
  margin-top: 50px;
  height: 520px;
}

.greeting{
  text-align: center;
}

.board-right{
  height: 400px;
  background-color: rgba(255,255,255,0.8);
  width: 90%;
  margin: 0 auto;
}

.board-left{
  padding: 25px 0 30px;
  color: #4b5e72;
  background-color: rgba(227,232,237,0.9);
  border-radius: 8px;
  width: 90%;
  margin: 0 auto;
}

.comment{
  padding: 10px;
}

.board-right p{
  opacity: 0.8;
}

input, textarea{
  margin: 10px 0 10px;
  font-size: 15px;
  width: 80%;
  border: none;
}

input{
  height: 50px;
  padding: 0 5px;
}

textarea{
  padding: 5px;
  height: 100px;
}

.submit-btn{
  opacity: 0.6;
  background-color: #bfc9d4;
  color: #4b5e72;
}

.submit-btn:hover{
  opacity: 1;
  cursor: pointer;
}

.submit-btn:active{
  opacity: 0.6;
}


/*----------------footer----------------*/


.footer{
  background-color: rgba(72,125,177,0.7);
  height: 40px;

  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

.footer-wrapper{
  width: 85%;
  margin: 0 auto;
}

.footer-logo{
  font-size: 15px;
  color: white;
  text-align: center;
  line-height: 40px;
}


/*パソコン*/
@media screen and (min-width:767px) {

  .header-logo{
    float: left;
  }

  .main h1{
    padding-top: 110px;
  }

  .board-left-wrapper{
    float: left;
    text-align: center;
    width: 50%;
  }

  .board-right-wrapper{
    float: left;
    width: 50%;
  }

}


/*スマホ*/
@media screen and (max-width:767px) {

  .header-logo{
    text-align: center;
  }

  .main{
    height: 1100px;
  }

  .main h1{
    font-size: 25px;
    padding-top: 60px;
  }

  .board-wrapper{
    position: relative;
  }

  .board-left-wrapper{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 420px; /*board-right　のheightに合わせて＋20px*/
  }

  .board-right-wrapper{
    width: 100%;
    position: absolute;
    top: 0;
  }
}
